<div class="text-center">
  <button [ngClass]="{'btn': true, 'btn-danger': tType === 'i', 'btn-primary': tType !== 'i'}" (click)="onChangeCategoryType('i')">Income</button>
  <button [ngClass]="{'btn': true, 'btn-danger': tType === 'e',  'btn-primary': tType !== 'e'}" (click)="onChangeCategoryType('e')">Expense</button>
</div>
<br/>
<form [formGroup] = "transactionForm" (ngSubmit)="onSubmit()">
  <input type="text"
         formControlName="tranDate"
         placeholder="date"
         bsDatepicker
         [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass:'theme-dark-blue' }"
  />
  <br/>
  <select formControlName="category">
    <ng-container *ngFor="let category of categories; index as i">
      <option [ngValue]=category.cid>{{category.cname}}</option>
    </ng-container>
  </select>
  <br/>

  <input type="number" formControlName="amt" placeholder="amt"/>
  <br/>
  <input type="text" formControlName="tranDesc" placeholder="desc"/>
  <br/>

  <button value="submit">submit</button>
</form>
