<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="/admin/spending" routerLinkActive="active">spending</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="/admin/transaction" routerLinkActive="active">transaction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="/admin/categories" routerLinkActive="active">categories</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
    </div>
  </div>
</nav>

 &nbsp;
 &nbsp;
 &nbsp;
