<div class="col-md-12">
  <button [ngClass]="{'btn': true,'btn-danger': showType === CATEGORY_TYPE.A, 'btn-primary': showType !== CATEGORY_TYPE.A}" (click)="showCategory(CATEGORY_TYPE.A)">All</button> &nbsp; &nbsp;
  <button [ngClass]="{'btn': true,'btn-danger': showType === CATEGORY_TYPE.I, 'btn-primary': showType !== CATEGORY_TYPE.I}" (click)="showCategory(CATEGORY_TYPE.I)">Income</button> &nbsp; &nbsp;
  <button [ngClass]="{'btn': true,'btn-danger': showType === CATEGORY_TYPE.E, 'btn-primary': showType !== CATEGORY_TYPE.E}" (click)="showCategory(CATEGORY_TYPE.E)">Expense</button> &nbsp; &nbsp;
  <br class="d-sm-block d-md-none d-lg-none"/><br class="d-sm-block d-md-none d-lg-none"/>
  <button class="btn btn-primary float-md-right" (click)="openCategoryForm()">Add Category</button>
  <br/><br/>
  <div class="table-responsive">
    <table class="table">
      <ng-container *ngIf="categoriesData">
        <tr *ngFor="let categories of newData;">
          <ng-container *ngFor="let category of categories;">
            <td [ngClass]="{'income': category.type === CATEGORY_TYPE.I, 'expence':  category.type === CATEGORY_TYPE.E}">
              {{category.cname}}
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Category</h4>
    <button class="btn btn-primary" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <button [disabled] = "categoryForm.get('categoriesArray').invalid" type="button" (click)="addCategoryForm()">Add Form</button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm" (submit)="addCategory($event)">
      <div formArrayName="categoriesArray" *ngFor="let category of categoryForm.get('categoriesArray').controls; let i = index">
        <div [formGroupName]="i">
            <input formControlName="cname" [id]="'cname'+i" type="text" name="cname"/>
            <div *ngIf="category.get('cname').errors?.required && category.get('cname').touched">
              Category name is required.
            </div>
            <select formControlName="type" [id]="'type'+i">
              <option [ngValue]=CATEGORY_TYPE.A> --Select--</option>
              <option [ngValue]=CATEGORY_TYPE.I> Income </option>
              <option [ngValue]=CATEGORY_TYPE.E> Expence </option>
            </select>            
        </div>
        <div *ngIf="categoryForm.get('categoriesArray').controls.length > 1">
            <button (click)="onRemoveCategory(i)">Remove Form</button>
        </div>
        
      </div>
      <button class="btn btn-primary"> Submit </button>      
    </form>
    
  </div>
</ng-template>

<!-- <button (click)="showCategoryForm()">Add Category</button> -->
