<div>
    <button *ngIf = "!this.editCatId" [disabled] = "categoryForm.get('categoriesArray').invalid" type="button" (click)="addCategoryForm()">Add Form</button>
</div>
<form [formGroup]="categoryForm" (submit)="this.editCatId ? editCategory($event) : addCategory($event)">
    <div formArrayName="categoriesArray" 
         *ngFor="let category of categoryForm.get('categoriesArray').controls; let i = index">
            <div [formGroupName]="i">
                <input disabled *ngIf = "this.editCatId" formControlName="cid" [id]="'cid'+i" type="text" name="cid"/>

                <input formControlName="cname" [id]="'cname'+i" type="text" name="cname"/>
                <div *ngIf="category.get('cname').errors?.required && category.get('cname').touched">
                    Category name is required.
                </div>
                <select formControlName="type" [id]="'type'+i">
                    <option [ngValue]=CATEGORY_TYPE.A> --Select--</option>
                    <option [ngValue]=CATEGORY_TYPE.I> Income </option>
                    <option [ngValue]=CATEGORY_TYPE.E> Expence </option>
                </select>            
            </div>
            <div *ngIf="categoryForm.get('categoriesArray').controls.length > 1">
                <button (click)="onRemoveCategory(i)">Remove Form</button>
            </div>        
    </div>
    <div class="btn-toolbar">
        <button class="btn btn-primary" [disabled] = "categoryForm.get('categoriesArray').invalid"> Submit </button>  
        &nbsp;
        <button (click)="deleteCategory($event)" class="btn btn-primary"> Delete </button>
    </div>
    
</form>