/* You can add global styles to this file, and also import other style files */

@import url("./assets/css/bootstrap-4.3.1.css");

html, body { height: 100%; background-color: #f8f9fa}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container { background-color: #fff;}
