<table>
    <tr>
        <td>Id</td>
        <td>Category Name</td>
        <td>Category Type</td>
        <td>Transaction Date</td>
        <td>Transaction Desc</td>
        <td>Transaction amount</td>
    </tr>
    <ng-container *ngIf="transactions">
        <tr [ngClass]="tran.ctype =='e' ? 'red-line' : 'green-line'" *ngFor="let tran of transactions">
            <td>{{tran.id}}</td>
            <td>{{tran.cname}}</td>
            <td appReplaceCatType [catType]="tran.ctype">{{tran.ctype}}</td>
            <td>{{tran.tranDate}}</td>
            <td>{{tran.tranDesc}}</td>
            <td>{{tran.amt}}</td>
        </tr>
    </ng-container>
</table>
