
<div class="col-md-12 sm-no-padding">
  <div class="row">
    <!-- <div class="col-md-6">
      <input type="text" placeholder="Filter by keywords" [(ngModel)]="searchTerm" name="filterKeyword"/>
    </div> -->
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-8">
            <app-file-upload
            (onFileUpload)="onFileUpload($event)">
          </app-file-upload>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" [href]="exportUrl">Export Transactions</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-3">
          <input 
              type="text" 
              placeholder="Category Filter" 
              name="categoryFilter" 
              [(ngModel)]="categoryFilter" 
              ngValue="categoryFilter"/>
      </div>
      <div class="col-md-3">
          <input 
              type="text" 
              placeholder="Keywords Filter" 
              name="keyworldFilter" 
              [(ngModel)]="keyworldFilter" 
              ngValue="keyworldFilter"/>  
          
      </div>
      <div class="col-md-3">
          <input 
            class="form-control" 
            #drp="bsDaterangepicker" 
            bsDaterangepicker 
            [(ngModel)]="bsRangeValue">
          
      </div>
      <div class="col-md-3">
            <button class="btn btn-primary" (click)="getTransactions()">Filter Data</button>
      </div>
  </div>

  <hr>
  <div class="text-center" *ngIf="!filterTransactions.length">No Data.</div>
  <div class="table-responsive" *ngIf="filterTransactions.length">
  <table class="table">
    <thead class="thead-light table-primary">
      <tr>
          <!-- <td>Id</td> -->
          <td>Date</td>
          <td>Category</td>
          <!-- <td>Category Type</td> -->

          <td>Amount</td>
          <td>Desc</td>
          <td>Keywords</td>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="filterTransactions">
          <tr
            *ngFor="let tran of filterTransactions"
            [ngClass]="{'red-line': tran.ctype =='e', 'green-line': tran.ctype =='i', 'table-warning': tran.futureTransaction == 1}" 
            [tooltip]="tran.futureTransaction == 1 ? 'Future Transaction' : ''">
             
              <td style="vertical-align: middle;width: 110px;">
                <div>
                  {{tran.tranDate | date: 'dd/MM/yyyy'}}
                  <br>
                  {{tran.tranDate | date: 'h:mm:ss a'}}
                </div>
              </td>
              <td style="vertical-align: middle;">{{tran.cname}}</td>
              <!-- <td appReplaceCatType [catType]="tran.ctype">{{tran.ctype}}</td> -->

              <td style="vertical-align: middle;">{{tran.amt | number:'.2'}}</td>
              <td style="vertical-align: middle;">{{tran.tranDesc}}</td>
              <td style="vertical-align: middle;">{{tran.keyWords}}</td>
          </tr>
      </ng-container>
    </tbody>
  </table>
  </div>
  <div class="overflow-auto">
      <app-pagination *ngIf="totalRecords"
        [totalRecords]="totalRecords"
        [itemsPerPage]="itemsPerPage"
        (onPageChanged)="onPageChanged($event)"
      ></app-pagination>
  </div>  
</div>

