<h1>Welcome</h1>
<a routerLink="/data">View Data</a>


<form class="form-horizontal" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" [ngClass]="{'has-error': formErrors.fullName}">
        <label class="col-sm-2 control-label" for="fullName">Full Name {{fullNameLength}}</label>
        <div class="col-sm-8">
          <input (blur)="logValidationErrors()" id="fullName" type="text" class="form-control" formControlName="fullName">
        </div>
        <span *ngIf="formErrors.fullName">
          {{formErrors.fullName}}
        </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': formErrors.fullName}">
        <label class="col-sm-2 control-label" for="email">Contact Pref</label>
        <input (blur)="logValidationErrors()" type="radio" name="" value="email" formControlName="contactPref">
        <input (blur)="logValidationErrors()" type="radio" name="" value="phone" formControlName="contactPref">
      </div>

      <div formGroupName="emailGroup">
          <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
            <label class="col-sm-2 control-label" for="email">Email</label>
            <div class="col-sm-8">
              <input (blur)="logValidationErrors()" id="email" type="text" class="form-control" formControlName="email">
            </div>
            <span *ngIf="formErrors.email">
              {{formErrors.email}}
            </span>
          </div>
          <div class="form-group" [ngClass]="{'has-error': formErrors.confirmEmail || formErrors.emailGroup}">
            <label class="col-sm-2 control-label" for="confirmEmail">Confirm Email</label>
            <div class="col-sm-8">
              <input (blur)="logValidationErrors()" id="confirmEmail" type="text" class="form-control" formControlName="confirmEmail">
            </div>
            <span *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
              {{formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup}}
            </span>
          </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': formErrors.phone}">
        <label class="col-sm-2 control-label" for="phone">phone</label>
        <div class="col-sm-8">
          <input (blur)="logValidationErrors()" id="phone" type="text" class="form-control" formControlName="phone">
        </div>
        <span *ngIf="formErrors.phone">
          {{formErrors.phone}}
        </span>
      </div>

      <div formGroupName="skills">
        <label class="col-sm-2 control-label" for="email">Skill Name</label>
        <input (blur)="logValidationErrors()" type="text" name="" value="" formControlName="skillName">
        <br>
        <label class="col-sm-2 control-label" for="email">Experience</label>
        <input (blur)="logValidationErrors()" type="text" name="" value="" formControlName="experience">
        <br>
        <label class="col-sm-2 control-label" for="email">Proficiency</label>
        <input (blur)="logValidationErrors()" type="radio" name="" value="beginner" formControlName="proficiency">
        <input (blur)="logValidationErrors()" type="radio" name="" value="intermediate" formControlName="proficiency">
        <input (blur)="logValidationErrors()" type="radio" name="" value="advance" formControlName="proficiency">
      </div>

    </div>
    <div class="panel-footer">
      <button type="button" name="button" (click)="onLoadDataClick()" type="button">Load Data</button>
      <button type="button" name="button" (click)="onPatchDataClick()" type="button">Patch Data</button>
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </div>
</form>
