<table>
  <tr>
    <td>income</td>
    <td>{{incomeTotal}}</td>
  </tr>
  <tr *ngFor="let in of income">
    <td>&nbsp;&nbsp;{{in.cname}}</td>
    <td>{{in.amt}}</td>
  </tr>
</table>
<table>
  <tr>
    <td>expense</td>
    <td>{{expenseTotal}}</td>
  </tr>
  <tr *ngFor="let in of expense">
    <td>&nbsp;&nbsp;{{in.cname}}</td>
    <td>{{in.amt}}</td>
  </tr>
</table>
<table>
  <tr>
    <td>Total Balanse</td>
    <td>{{incomeTotal-expenseTotal}}</td>
  </tr>
</table>

<button (click)="onTransaction('i')">income</button> &nbsp; &nbsp; <button (click)="onTransaction('e')">expense</button>

<app-transaction-form [transactionCategory]="transactionCategory"></app-transaction-form>

<app-modal></app-modal>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
