<div>
  <div *ngIf="uploadResponse && uploadResponse.status === 'error'">

  </div>
  <div *ngIf="uploadResponse && uploadResponse.status === 'success'">
    <img [src]='uploadResponse.url' />
  </div>
</div>

<div class="col-md-12 sm-no-padding">
    <div class="row">
        <div class="col-xs-12 col-12 col-md-5 form-group">
          <input 
            class="form-control" 
            #drp="bsDaterangepicker" 
            bsDaterangepicker 
            [(ngModel)]="bsRangeValue">
        </div>
        <div class="col-xs-12 col-12 col-md-3 form-group">
          <button class="btn btn-primary" (click)="filterDatewise()">Filter Data</button>
        </div>
        <div class="col-xs-12 col-12 col-md-2 form-group">
            <input 
              type="checkbox" 
              id="futureTransaction" 
              name="futureTransaction" 
              [(ngModel)] = "isShowFutureTransaction"
              (change)="hideShowFutureTransaction(isShowFutureTransaction)"/>
            <label for="futureTransaction">Future Transaction</label>
          </div>
      </div>
  <div class="row">
    <div class="col-md-6">
      <table>
        <tr>
          <td><h5>Total Balance &nbsp;&nbsp;</h5></td>
          <td><h5>{{incomeTotal-expenseTotal | number:'.2'}}</h5></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6 table-responsive">
      <div class="text-center" *ngIf="!incomeFilter.length">
          <div style="font-size:20px; color:blue;">
              <a tooltip="Add Income" style="position:relative;" placement="left" style="cursor: pointer;position:relative;" (click)="onTransaction('i')">
                  Add Income <i class="far fa-plus-square">
                </i>
              </a>
            </div>
      </div>
      <div class="min-height" *ngIf="incomeFilter.length">
        <table class="table" >
          <thead class="table-primary">
            <tr>
              <td colspan="2">Total Income: {{incomeTotal | number:'.2'}}</td>
              <td>
                <div class="float-right" style="font-size:20px; color:blue;">
                  <a tooltip="Add Income" style="position:relative;" placement="left" style="cursor: pointer;position:relative;" (click)="onTransaction('i')">
                    <i class="far fa-plus-square">
                    </i>
                  </a>
                </div>
              </td>
            </tr>
          </thead>
          <tr 
            *ngFor="let in of incomeFilter" 
            [ngClass]="{'table-warning': in.futureTransaction == 1}"
            [tooltip]="in.futureTransaction == 1 ? 'Future Transaction' : ''">
            <td>{{in.cname}}</td>
            <!-- <td>{{in.tranDesc}}</td> -->
            <td>{{in.amt | number:'.2'}}</td>
            <td class="text-right">
              <a (click)="onTransaction(in.ctype, in.id)">
                <i class="fas fa-edit"></i>
              </a>
              <!-- &nbsp;
              <a (click)="onDelete(in.id)">
                  <i class="far fa-trash-alt"></i>
              </a> -->
            </td>
          </tr>
        </table>
    </div>
    <div class="overflow-auto">
      <app-pagination *ngIf="totalIncomeRecords"
          [totalRecords]="totalIncomeRecords"
          [itemsPerPage]="itemsPerPage"
          (onPageChanged)="onIncomePageChanged($event)"
        ></app-pagination>
    </div>
  </div>
  <div class="col-md-6 table-responsive">
    <div class="text-center" *ngIf="!expenseFilter.length"> 
      <div style="font-size:20px; color:red;position:relative;">
        <a tooltip="Add Expense" style="position:relative;" placement="left" style="cursor: pointer;" (click)="onTransaction('e')">
            Add Expense <i class="far fa-plus-square"></i>
        </a>
      </div>
    </div>
    <div class="min-height" *ngIf="expenseFilter.length">
        <table class="table">
            <thead class="table-danger">
              <tr>
                <td colspan="2">Total Expense: {{expenseTotal | number:'.2'}}</td>
                <td>
                  <div class="float-right" style="font-size:20px; color:red;position:relative;">
                    <a tooltip="Add Expense" style="position:relative;" placement="left" style="cursor: pointer;" (click)="onTransaction('e')">
                      <i class="far fa-plus-square"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </thead>
      
            <ng-container *ngFor="let in of expenseFilter">
                <tr [tooltip]="in.futureTransaction == 1 ? 'Future Transaction' : ''" [ngClass]="{'table-warning': in.futureTransaction == 1}">
                    <td>{{in.cname}}</td>
                    <!-- <td>{{in.tranDesc}}</td> -->
                    <td>{{in.amt | number:'.2'}} </td>
                    <td class="text-right">
                      <a (click)="onTransaction(in.ctype, in.id)">
                        <i class="fas fa-edit"></i>
                      </a>
                      <!-- &nbsp;
                      <a (click)="onDelete(in.id)">
                          <i class="far fa-trash-alt"></i>
                      </a> -->
                    </td>
                  </tr>
            </ng-container>
          </table>
    </div>
    <div class="overflow-auto">
        <app-pagination *ngIf="totalExpenseRecords"
        [totalRecords]="totalExpenseRecords"
        [itemsPerPage]="itemsPerPage"
        (onPageChanged)="onExpensePageChanged($event)"
      ></app-pagination>
    </div>
  </div>
  </div>
</div>


<!-- <app-modal></app-modal> -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Transaction</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-transaction-form
      (changeCategoryType)="changeCategoryType($event)"
      (modalCloseEvent)="modalRef.hide()" modalRef = "modalRef"
      [transactionCategory]="transactionCategoryFilterData"
      [transactionType]="transactionType"
      [selectedTransaction]="selectedTransaction"
      (onSubmitTransaction)="onSubmitTransaction($event)">
    </app-transaction-form>
  </div>
</ng-template>
