<div class="row">
<div class="col-md-6">
  <table>
    <tr>
      <td>income</td>
      <td>{{incomeTotal}}</td>
    </tr>
    <tr *ngFor="let in of income">
      <td>&nbsp;&nbsp;{{in.cname}}</td>
      <td>{{in.amt}}</td>
    </tr>
  </table>
  <button (click)="onTransaction('i')">income</button>
</div>

<div class="col-md-6">
  <table>
    <tr>
      <td>expense</td>
      <td>{{expenseTotal}}</td>
    </tr>
    <tr *ngFor="let in of expense">
      <td>&nbsp;&nbsp;{{in.cname}}</td>
      <td>{{in.amt}}</td>
    </tr>
  </table>
  <button (click)="onTransaction('e')">expense</button>
</div>

<div class="col-md-12">
  <table>
    <tr>
      <td>Total Balanse</td>
      <td>{{incomeTotal-expenseTotal}}</td>
    </tr>
  </table>

</div>
</div>


<!-- <app-modal></app-modal> -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Transaction</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-transaction-form (modalCloseEvent)="modalRef.hide()" modalRef = "modalRef" [transactionCategory]="transactionCategory"></app-transaction-form>
  </div>
</ng-template>
